<body>
	<table>
		<tr>
			<td valign="top">
				<table cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td width="200" valign="top">
							<img src="http://meadowlarktravel.com/email/logo.png" alt="Meadowlark Travel" class="image_fix" width="180" height="220">
						</td>
					</tr>
          <tr width="200" valign="top">
            <td>
              <p>
                Спасибо за заказ поездки в Meadowlark Travel, {{cart.billing.name}}.
              </p>
            </td>
          <tr>
            <td>
              <p>
                Ваш номер бронирования: {{cart.number}}.
              </p>
            </td>
          </tr>
          <tr>
            <td width="200" valign="top">
              Проблему с бронированием? Свяжитесь с Meadowlark Travel по номеру <span class="molbile_link">555-555-0123</span>.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>