<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>


body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  color: #fff;

  min-width: 960px;
  font-weight: 700;
}

header, div, ul, li, a, section, figure {
  outline: 0px solid green;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

  background: #00aff0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.main-navigation {
  float: left;

  width: 780px;
}

.user-block {
  float: right;

  max-width: 140px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation li:first-child {
  font-family:'Sonsie One', cursive;
  font-size: 25px;
  font-weight: bold;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;

  text-decoration: none;
  color: #fff;
}

.main-navigation a:hover {
  background: #6ecdf5;
}

.main-navigation .active a {
  position: relative;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active a:after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  height: 5px;

  background: white;
}

.login {
  visibility: hidden;
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  color: #fff;
}

.login:hover {
  background: #242424;
}

.login:before {
  content: "";

  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: transparent url("img/sprite.png") no-repeat;
  background-position: 0 -212px;
}

.login:hover:before {
  opacity: .3;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  margin-right: 16px;

  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background: #00aff0;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #663d15;
}

.btn:disabled {
  cursor: default;
  opacity: .5;
}

.btn:disabled:hover {
  background: #6ecdf5;
}

.main-footer {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 40px;

  background: #e6e6e6;
}

.footer-contacts {
  float: left;

  width: 320px;
  margin-right: 80px;
}

.footer-contacts a {
  color: #fff;
}

.footer-social {
  float: left;
  text-align: center;
}

.footer-copyright {
  float: right;

  max-width: 320px;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;

  font-size: 0;
  text-decoration: none;

  background: #00aff0 url("img/sprite.png") no-repeat center;
}

.social-btn:hover {
    background-color: #fff;
}

.social-btn-vk {
  background-position: 9px -968px;
}

.social-btn-fb {
  background-position: 16px -691px;
}

.social-btn-inst {
  background-position: 11px -832px;
}

.social-btn-vk:hover {
  background-position: 9px -902px;
}

.social-btn-fb:hover {
  background-position: 16px -619px;
}

.social-btn-inst:hover {
  background-position: 11px -762px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #00aff0;
  background: #fff;
}